<a href="https://colab.research.google.com/github/suneelshrestha/ML_from_scratch/blob/main/Practise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import pandas as pd
import numpy as np

In [20]:
df = pd.read_csv("/content/sample_data/IMDB-Movie-Data.csv")
df

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [21]:
#diplay top 10 rows from the dataset
df.head(10)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
5,6,The Great Wall,"Action,Adventure,Fantasy",European mercenaries searching for black powde...,Yimou Zhang,"Matt Damon, Tian Jing, Willem Dafoe, Andy Lau",2016,103,6.1,56036,45.13,42.0
6,7,La La Land,"Comedy,Drama,Music",A jazz pianist falls for an aspiring actress i...,Damien Chazelle,"Ryan Gosling, Emma Stone, Rosemarie DeWitt, J....",2016,128,8.3,258682,151.06,93.0
7,8,Mindhorn,Comedy,A has-been actor best known for playing the ti...,Sean Foley,"Essie Davis, Andrea Riseborough, Julian Barrat...",2016,89,6.4,2490,NaN,71.0
8,9,The Lost City of Z,"Action,Adventure,Biography","A true-life drama, centering on British explor...",James Gray,"Charlie Hunnam, Robert Pattinson, Sienna Mille...",2016,141,7.1,7188,8.01,78.0
9,10,Passengers,"Adventure,Drama,Romance",A spacecraft traveling to a distant colony pla...,Morten Tyldum,"Jennifer Lawrence, Chris Pratt, Michael Sheen,...",2016,116,7.0,192177,100.01,41.0

In [22]:
#check last 10 rows dataset
df.tail(10)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
990,991,Underworld: Rise of the Lycans,"Action,Adventure,Fantasy",An origins story centered on the centuries-old...,Patrick Tatopoulos,"Rhona Mitra, Michael Sheen, Bill Nighy, Steven...",2009,92,6.6,129708,45.80,44.0
991,992,Taare Zameen Par,"Drama,Family,Music",An eight-year-old boy is thought to be a lazy ...,Aamir Khan,"Darsheel Safary, Aamir Khan, Tanay Chheda, Sac...",2007,165,8.5,102697,1.20,42.0
992,993,Take Me Home Tonight,"Comedy,Drama,Romance","Four years after graduation, an awkward high s...",Michael Dowse,"Topher Grace, Anna Faris, Dan Fogler, Teresa P...",2011,97,6.3,45419,6.92,NaN
993,994,Resident Evil: Afterlife,"Action,Adventure,Horror",While still out to destroy the evil Umbrella C...,Paul W.S. Anderson,"Milla Jovovich, Ali Larter, Wentworth Miller,K...",2010,97,5.9,140900,60.13,37.0
994,995,Project X,Comedy,3 high school seniors throw a birthday party t...,Nima Nourizadeh,"Thomas Mann, Oliver Cooper, Jonathan Daniel Br...",2012,88,6.7,164088,54.72,48.0
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [23]:
#find shape of our dataset
print(df.shape)

(1000, 12)

In [24]:
print(df.info)

<bound method DataFrame.info of      Rank                    Title                     Genre  \
0       1  Guardians of the Galaxy   Action,Adventure,Sci-Fi
1       2               Prometheus  Adventure,Mystery,Sci-Fi
2       3                    Split           Horror,Thriller
3       4                     Sing   Animation,Comedy,Family
4       5            Suicide Squad  Action,Adventure,Fantasy
..    ...                      ...                       ...
995   996     Secret in Their Eyes       Crime,Drama,Mystery
996   997          Hostel: Part II                    Horror
997   998   Step Up 2: The Streets       Drama,Music,Romance
998   999             Search Party          Adventure,Comedy
999  1000               Nine Lives     Comedy,Family,Fantasy

                                           Description              Director  \
0    A group of intergalactic criminals are forced ...            James Gunn
1    Following clues to the origin of mankind, a te...          Ridley Scott
2    Three girls are kidnapped by a man with a diag...    M. Night Shyamalan
3    In a city of humanoid animals, a hustling thea...  Christophe Lourdelet
4    A secret government agency recruits some of th...            David Ayer
..                                                 ...                   ...
995  A tight-knit team of rising investigators, alo...             Billy Ray
996  Three American college students studying abroa...              Eli Roth
997  Romantic sparks occur between two dance studen...            Jon M. Chu
998  A pair of friends embark on a mission to reuni...        Scot Armstrong
999  A stuffy businessman finds himself trapped ins...      Barry Sonnenfeld

                                                Actors  Year  \
0    Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014
1    Noomi Rapace, Logan Marshall-Green, Michael Fa...  2012
2    James McAvoy, Anya Taylor-Joy, Haley Lu Richar...  2016
3    Matthew McConaughey,Reese Witherspoon, Seth Ma...  2016
4    Will Smith, Jared Leto, Margot Robbie, Viola D...  2016
..                                                 ...   ...
995  Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...  2015
996  Lauren German, Heather Matarazzo, Bijou Philli...  2007
997  Robert Hoffman, Briana Evigan, Cassie Ventura,...  2008
998  Adam Pally, T.J. Miller, Thomas Middleditch,Sh...  2014
999  Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...  2016

     Runtime (Minutes)  Rating   Votes  Revenue (Millions)  Metascore
0                  121     8.1  757074              333.13       76.0
1                  124     7.0  485820              126.46       65.0
2                  117     7.3  157606              138.12       62.0
3                  108     7.2   60545              270.32       59.0
4                  123     6.2  393727              325.02       40.0
..                 ...     ...     ...                 ...        ...
995                111     6.2   27585                 NaN       45.0
996                 94     5.5   73152               17.54       46.0
997                 98     6.2   70699               58.01       50.0
998                 93     5.6    4881                 NaN       22.0
999                 87     5.3   12435               19.64       11.0

[1000 rows x 12 columns]>

In [25]:
df.isnull().sum()

Rank                    0
Title                   0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
dtype: int64

In [26]:
#drop all the missing values
df.dropna(inplace=True)
df

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
993,994,Resident Evil: Afterlife,"Action,Adventure,Horror",While still out to destroy the evil Umbrella C...,Paul W.S. Anderson,"Milla Jovovich, Ali Larter, Wentworth Miller,K...",2010,97,5.9,140900,60.13,37.0
994,995,Project X,Comedy,3 high school seniors throw a birthday party t...,Nima Nourizadeh,"Thomas Mann, Oliver Cooper, Jonathan Daniel Br...",2012,88,6.7,164088,54.72,48.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [27]:
df.isnull().sum()

Rank                  0
Title                 0
Genre                 0
Description           0
Director              0
Actors                0
Year                  0
Runtime (Minutes)     0
Rating                0
Votes                 0
Revenue (Millions)    0
Metascore             0
dtype: int64

In [28]:
#check if there is duplicates or not
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
993    False
994    False
996    False
997    False
999    False
Length: 838, dtype: bool

In [29]:
#get overall statistice about the dataframe
df.describe()

,Rank,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
count,838.000000,838.00000,838.000000,838.000000,8.380000e+02,838.000000,838.000000
mean,485.247017,2012.50716,114.638425,6.814320,1.932303e+05,84.564558,59.575179
std,286.572065,3.17236,18.470922,0.877754,1.930990e+05,104.520227,16.952416
min,1.000000,2006.00000,66.000000,1.900000,1.780000e+02,0.000000,11.000000
25%,238.250000,2010.00000,101.000000,6.300000,6.127650e+04,13.967500,47.000000
50%,475.500000,2013.00000,112.000000,6.900000,1.368795e+05,48.150000,60.000000
75%,729.750000,2015.00000,124.000000,7.500000,2.710830e+05,116.800000,72.000000
max,1000.000000,2016.00000,187.000000,9.000000,1.791916e+06,936.630000,100.000000

In [30]:
#display titles 0f moview with runtime >= 100
new_df=df[df['Runtime (Minutes)']>=100]
new_df['Title']
new_df

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
983,984,Let's Be Cops,Comedy,Two struggling pals dress as police officers f...,Luke Greenfield,"Jake Johnson, Damon Wayans Jr., Rob Riggle, Ni...",2014,104,6.5,112729,82.39,30.0
984,985,Max,"Adventure,Family",A Malinois dog that helped American Marines in...,Boaz Yakin,"Thomas Haden Church, Josh Wiggins, Luke Kleint...",2015,111,6.8,21405,42.65,47.0
985,986,Your Highness,"Adventure,Comedy,Fantasy","When Prince Fabious's bride is kidnapped, he g...",David Gordon Green,"Danny McBride, Natalie Portman, James Franco, ...",2011,102,5.6,87904,21.56,31.0
987,988,Endless Love,"Drama,Romance",The story of a privileged girl and a charismat...,Shana Feste,"Gabriella Wilde, Alex Pettyfer, Bruce Greenwoo...",2014,104,6.3,33688,23.39,30.0
991,992,Taare Zameen Par,"Drama,Family,Music",An eight-year-old boy is thought to be a lazy ...,Aamir Khan,"Darsheel Safary, Aamir Khan, Tanay Chheda, Sac...",2007,165,8.5,102697,1.20,42.0

In [31]:
#find the year with the highest average voting
avg_df = df.groupby('Year')['Votes'].mean()
avg_df

Year
2006    277232.219512
2007    266530.704545
2008    266580.145833
2009    267180.577778
2010    261082.929825
2011    259254.736842
2012    290861.483871
2013    225531.892857
2014    211926.881720
2015    129512.651376
2016     68437.823232
Name: Votes, dtype: float64

In [32]:
#find the year with the highest average Revenue (Millions)
avg_rev_df = df.groupby('Year')['Revenue (Millions)'].mean()
avg_rev_df

Year
2006     87.255610
2007     93.074091
2008     97.525417
2009    115.742000
2010    105.081579
2011     93.703333
2012    110.103065
2013     88.084643
2014     85.433656
2015     80.725596
2016     55.566111
Name: Revenue (Millions), dtype: float64

In [33]:
#find the year rating for each director
year_df=df.groupby('Director')['Rating'].mean()
year_df

Director
Aamir Khan             8.50
Abdellatif Kechiche    7.80
Adam McKay             7.00
Adam Shankman          6.30
Adam Wingard           5.90
                       ...
Xavier Dolan           8.10
Yimou Zhang            6.10
Yorgos Lanthimos       7.20
Zack Snyder            7.04
Zackary Adler          5.10
Name: Rating, Length: 524, dtype: float64

In [37]:
sorted_df=df.sort_values('Runtime (Minutes)', ascending=False)
sorted_df[['Title','Runtime (Minutes)']]

                                                 Title  Runtime (Minutes)
88                                   The Hateful Eight                187
82                             The Wolf of Wall Street                180
311                                     La vie d'Adèle                180
267                                        Cloud Atlas                172
430                                           3 Idiots                170
..                                                 ...                ...
258                                         Lights Out                 81
862  Alexander and the Terrible, Horrible, No Good,...                 81
949                                              Kicks                 80
711                                    La tortue rouge                 80
793                                Ma vie de Courgette                 66

[838 rows x 2 columns]

In [40]:
df.groupby('Year').count()

,Rank,Title,Genre,Description,Director,Actors,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Year,,,,,,,,,,,
2006,41,41,41,41,41,41,41,41,41,41,41
2007,44,44,44,44,44,44,44,44,44,44,44
2008,48,48,48,48,48,48,48,48,48,48,48
2009,45,45,45,45,45,45,45,45,45,45,45
2010,57,57,57,57,57,57,57,57,57,57,57
2011,57,57,57,57,57,57,57,57,57,57,57
2012,62,62,62,62,62,62,62,62,62,62,62
2013,84,84,84,84,84,84,84,84,84,84,84
2014,93,93,93,93,93,93,93,93,93,93,93
2015,109,109,109,109,109,109,109,109,109,109,109
2016,198,198,198,198,198,198,198,198,198,198,198

In [77]:
#find the most popular movie title (highest Revenue)
max_rev_df = df.groupby('Title')['Revenue (Millions)'].max()
max_rev_df.sort_values(ascending=False)

Title
Star Wars: Episode VII - The Force Awakens    936.63
Avatar                                        760.51
Jurassic World                                652.18
The Avengers                                  623.28
The Dark Knight                               533.32
                                               ...
Into the Forest                                 0.01
Lovesong                                        0.01
Love, Rosie                                     0.01
Wakefield                                       0.01
A Kind of Murder                                0.00
Name: Revenue (Millions), Length: 837, dtype: float64

In [76]:
#display the highest moview rated with theri title and theri rating
sortedVal = df.groupby('Title')['Rating'].max()
sortedVal.sort_values(ascending=False)

Title
The Dark Knight             9.0
Inception                   8.8
Kimi no na wa               8.6
The Intouchables            8.6
Interstellar                8.6
                           ...
2307: Winter's Dream        4.0
The Disappointments Room    3.9
Birth of the Dragon         3.9
Dragonball Evolution        2.7
Disaster Movie              1.9
Name: Rating, Length: 837, dtype: float64

In [88]:
#find the average revenue by genre
avg_rev_df =df.groupby(['Title','Genre'])['Revenue (Millions)'].median()
avg_rev_df.sort_values(ascending=False)

Title                                       Genre
Star Wars: Episode VII - The Force Awakens  Action,Adventure,Fantasy    936.63
Avatar                                      Action,Adventure,Fantasy    760.51
Jurassic World                              Action,Adventure,Sci-Fi     652.18
The Avengers                                Action,Sci-Fi               623.28
The Dark Knight                             Action,Crime,Drama          533.32
                                                                         ...
Love, Rosie                                 Comedy,Romance                0.01
Lovesong                                    Drama                         0.01
Into the Forest                             Drama,Sci-Fi,Thriller         0.01
Wakefield                                   Drama                         0.01
A Kind of Murder                            Crime,Drama,Thriller          0.00
Name: Revenue (Millions), Length: 838, dtype: float64

In [107]:
#find the unique no of genre in the dataset
unique_genres_list = df['Genre'].unique()
print(unique_genres_list)

['Action,Adventure,Sci-Fi' 'Adventure,Mystery,Sci-Fi' 'Horror,Thriller'
 'Animation,Comedy,Family' 'Action,Adventure,Fantasy' 'Comedy,Drama,Music'
 'Action,Adventure,Biography' 'Adventure,Drama,Romance'
 'Adventure,Family,Fantasy' 'Biography,Drama,History'
 'Animation,Adventure,Comedy' 'Action,Comedy,Drama' 'Action,Thriller'
 'Biography,Drama' 'Drama,Mystery,Sci-Fi' 'Adventure,Drama,Thriller'
 'Drama' 'Comedy' 'Action,Adventure,Drama' 'Drama,Thriller'
 'Action,Adventure,Comedy' 'Action,Horror,Sci-Fi' 'Adventure,Drama,Sci-Fi'
 'Action,Adventure,Western' 'Comedy,Drama' 'Action,Crime,Thriller'
 'Action,Crime,Drama' 'Adventure,Drama,History' 'Crime,Horror,Thriller'
 'Drama,Romance' 'Comedy,Drama,Romance' 'Crime,Drama,Mystery'
 'Drama,Romance,Thriller' 'Drama,History,Thriller' 'Action,Drama,Thriller'
 'Action,Drama,Romance' 'Drama,Fantasy' 'Action,Sci-Fi'
 'Adventure,Drama,War' 'Action,Comedy,Fantasy' 'Biography,Comedy,Crime'
 'Crime,Drama' 'Comedy,Crime,Drama' 'Action,Comedy,Crime'
 'Animation,Drama,Fantasy' 'Horror,Mystery,Sci-Fi'
 'Drama,Mystery,Thriller' 'Crime,Drama,Thriller' 'Biography,Crime,Drama'
 'Action,Horror,Thriller' 'Action,Fantasy,War' 'Adventure,Drama,Fantasy'
 'Drama,Horror,Mystery' 'Adventure,Drama,Family'
 'Adventure,Comedy,Romance' 'Adventure,Crime,Mystery'
 'Comedy,Family,Musical' 'Adventure,Comedy,Drama' 'Drama,Horror,Thriller'
 'Drama,Music' 'Mystery,Thriller' 'Comedy,Family' 'Biography,Comedy,Drama'
 'Drama,Western' 'Drama,Mystery,Romance' 'Action,Drama,Mystery'
 'Action,Adventure,Crime' 'Adventure,Sci-Fi,Thriller'
 'Action,Comedy,Mystery' 'Action,Adventure,Thriller'
 'Drama,Fantasy,Romance' 'Action,Drama,History'
 'Animation,Adventure,Family' 'Drama,Romance,Sci-Fi'
 'Action,Adventure,Family' 'Action,Comedy' 'Horror,Mystery,Thriller'
 'Comedy,Romance' 'Horror,Mystery' 'Drama,Family,Fantasy' 'Drama,War'
 'Drama,Fantasy,Horror' 'Crime,Drama,History' 'Horror,Sci-Fi,Thriller'
 'Action,Drama,Sport' 'Adventure,Biography,Drama'
 'Biography,Drama,Thriller' 'Action,Adventure,Mystery' 'Drama,Horror'
 'Comedy,Crime' 'Drama,Fantasy,War' 'Action,Adventure,Romance'
 'Action,Drama,War' 'Drama,Musical,Romance' 'Drama,Sci-Fi,Thriller'
 'Action,Drama,Sci-Fi' 'Horror' 'Drama,Sci-Fi' 'Adventure,Fantasy'
 'Crime,Mystery,Thriller' 'Biography,Drama,Romance' 'Action,Adventure'
 'Action,Fantasy' 'Action,Drama,Horror' 'Comedy,Music,Romance'
 'Drama,History' 'Action,Biography,Drama' 'Biography,Drama,Sport'
 'Comedy,Horror,Thriller' 'Crime,Drama,Music' 'Action,Sci-Fi,Thriller'
 'Drama,Horror,Sci-Fi' 'Comedy,Horror' 'Comedy,Fantasy,Romance'
 'Comedy,Fantasy' 'Comedy,Drama,Fantasy' 'Adventure,Comedy,Horror'
 'Comedy,Mystery' 'Action,Mystery,Sci-Fi' 'Action,Crime,Fantasy'
 'Drama,Sport' 'Comedy,Fantasy,Horror' 'Animation,Action,Adventure'
 'Action,Comedy,Family' 'Adventure,Comedy' 'Comedy,Music'
 'Comedy,Drama,Horror' 'Action,Horror,Romance' 'Action,Drama,Fantasy'
 'Action,Mystery,Thriller' 'Action,Adventure,Horror'
 'Animation,Family,Fantasy' 'Action,Horror,Mystery'
 'Adventure,Comedy,Family' 'Action,Crime,Mystery' 'Comedy,Drama,Family'
 'Action,Crime,Sport' 'Mystery,Sci-Fi,Thriller' 'Sci-Fi,Thriller'
 'Adventure,Drama,Horror' 'Biography,History,Thriller' 'Adventure,Horror'
 'Adventure,Comedy,Sci-Fi' 'Fantasy,Horror' 'Action'
 'Action,Fantasy,Thriller' 'Comedy,Romance,Sport'
 'Animation,Action,Comedy' 'Drama,Fantasy,Thriller' 'Sci-Fi'
 'Action,Comedy,Romance' 'Action,Fantasy,Horror' 'Mystery,Romance,Sci-Fi'
 'Comedy,Drama,Thriller' 'Drama,History,War' 'Drama,Horror,Musical'
 'Animation,Fantasy' 'Drama,Mystery,War' 'Action,Drama,Family' 'Thriller'
 'Adventure,Drama,Western' 'Drama,Music,Romance' 'Comedy,Romance,Western'
 'Drama,Thriller,War' 'Drama,Fantasy,Mystery' 'Comedy,Crime,Thriller'
 'Animation,Comedy,Drama' 'Action,Comedy,Sci-Fi'
 'Adventure,Fantasy,Mystery' 'Mystery,Romance,Thriller'
 'Biography,Drama,Mystery' 'Comedy,Horror,Romance' 'Action,Thriller,War'
 'Action,Crime,Sci-Fi' 'Crime,Thriller' 'Comedy,Horror,Sci-Fi'
 'Crime,Drama,Fantasy' 'Action,Comedy,Horror' 'Drama,Fantasy,Music'
 'Action,Comedy,Sport' 'Adventure' 'Comedy,Drama,Musical'
 'Comedy,Family,Romance' 'Biography,Drama,Family' 'Drama,Fantasy,Musical'
 'Adventure,Family' 'Adventure,Comedy,Fantasy' 'Drama,Family,Music'
 'Comedy,Family,Fantasy']

In [111]:
#count the no of movies released in each genre
each_gen_mov= df.groupby('Genre')['Title'].count()
each_gen_mov

Genre
Action                         1
Action,Adventure               3
Action,Adventure,Biography     2
Action,Adventure,Comedy       14
Action,Adventure,Crime         6
                              ..
Mystery,Sci-Fi,Thriller        3
Mystery,Thriller               6
Sci-Fi                         1
Sci-Fi,Thriller                1
Thriller                       1
Name: Title, Length: 189, dtype: int64

In [116]:
#find the top 10 director with the most movies
d_with_most_movies = df.groupby('Director')['Title'].count()
d_with_most_movies.sort_values(ascending=False).head(10)

Director
Ridley Scott          8
David Yates           6
Michael Bay           6
Paul W.S. Anderson    6
J.J. Abrams           5
Danny Boyle           5
Denis Villeneuve      5
Antoine Fuqua         5
Woody Allen           5
Martin Scorsese       5
Name: Title, dtype: int64

In [118]:
#find the avg rating in each year
avg_rat = df.groupby('Year')['Rating'].median()
avg_rat

Year
2006    7.20
2007    7.25
2008    6.80
2009    7.00
2010    6.80
2011    7.00
2012    7.00
2013    7.00
2014    6.70
2015    6.70
2016    6.70
Name: Rating, dtype: float64

In [120]:
#find the total revenu generated each year
rev=df.groupby('Year')['Revenue (Millions)'].sum()
rev.sort_values(ascending=False)

Year
2016    11002.09
2015     8799.09
2014     7945.33
2013     7399.11
2012     6826.39
2010     5989.65
2011     5341.09
2009     5208.39
2008     4681.22
2007     4095.26
2006     3577.48
Name: Revenue (Millions), dtype: float64

In [133]:
#Find the Most Common Actor in the Dataset
actor = df['Actors'].value_counts().idxmax()
actor

'Jennifer Lawrence, Josh Hutcherson, Liam Hemsworth, Woody Harrelson'

In [136]:
#Find the Average Runtime of Movies in Each Genre
avg=df.groupby('Genre')['Runtime (Minutes)'].median()
avg.sort_values(ascending=False)

Genre
Biography,Comedy,Crime     180.0
Drama,Family,Music         165.0
Drama,Western              165.0
Action,Drama,Mystery       162.0
Adventure,Drama,History    161.0
                           ...
Comedy,Family,Fantasy       87.0
Drama,Horror,Thriller       86.0
Animation,Fantasy           80.0
Adventure                   80.0
Animation,Comedy,Drama      66.0
Name: Runtime (Minutes), Length: 189, dtype: float64

In [146]:
#Find the Number of Movies Released Per Year With a Rating ≥ 8.0
no_mov = df[df['Rating'] >= 8.0]
no_mov = no_mov.groupby(['Year','Rating'])['Rating'].count()
print("No of movies per year with rating more that 8")
no_mov

No of movies per year with rating more that 8

Year  Rating
2006  8.0       3
      8.2       1
      8.5       3
2007  8.0       1
      8.1       4
      8.5       1
2008  8.0       1
      9.0       1
2009  8.0       2
      8.2       1
      8.3       2
      8.4       1
2010  8.0       2
      8.1       2
      8.2       1
      8.3       1
      8.8       1
2011  8.1       2
      8.2       1
      8.6       1
2012  8.0       1
      8.1       1
      8.3       1
      8.4       1
      8.5       1
2013  8.0       2
      8.1       3
      8.2       1
2014  8.0       1
      8.1       6
      8.2       1
      8.5       1
      8.6       1
2015  8.0       2
      8.1       3
      8.2       2
2016  8.0       4
      8.1       3
      8.2       1
      8.3       1
      8.6       1
Name: Rating, dtype: int64